.primary {
  background: #276ef1;
  padding: 0.7rem 3rem;
  border: none;
  outline: none;
  border-radius: 4px;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.secondary {
  background: rgba(243, 244, 246, 1);
  padding: 0.7rem 3rem;
  border: none;
  outline: none;
  border-radius: 4px;
  color: #9ca3af !important;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.danger {
  background: #d95151;
  padding: 0.7rem 3rem;
  border: none;
  outline: none;
  border-radius: 4px;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
