.input {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  width: 20rem;
  outline: none;
  height: 10rem;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 2px;
  resize: none;

  &:focus {
    border: 1px solid #a6a9ad;
  }
}
.wideinput {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  width: 100%;
  outline: none;
  height: 10rem;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 2px;
  resize: none;

  &:focus {
    border: 1px solid #a6a9ad;
  }
}
