.overflow {
  overflow-y: scroll;
}

.UploadProductbox {
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 2px;
}

.UpdateProductdangerBG {
  background: rgba(255, 0, 0, 0.09);
}
.AddVehicleinfoBG {
  background: #FDFED1;
}

.pinbox{
  width:30px;
  height:30px;
  background: #276EF1;
  color:white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.staffprofile{
  width:100px;
  height:100px;
  background: #F3F4F6;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashedBorder{
  border:dashed 1px #9CA3AF;
}