.primary {
  background: #276ef1;
  padding: 0.7rem 0.5rem;
  border: none;
  outline: none;
}
.secondary {
  background: #f9fafb;
  padding: 0.7rem 0.5rem;
  border: none;
  outline: none;
}
.wide {
  width: 100%;
}
