.header {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 2rem;
}

.rounded {
  border-radius: 2rem;
}

.nolinkhover {
  &:hover {
    color: black;
  }
}

.profileimage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
}

.linkB {
  background: #f9fafb;
}

.search{
  border:1px solid #9CA3AF;
  border-radius: 2rem;
  display: flex;
  align-items: center;

  input{
    flex:1;
    margin-left: 1rem;
    border:none;
    outline:none;
  }
}
