.borderleft {
    border: 0.5px solid #d1d5db;
  }
  
  .hline {
    width: 0px;
    height: 4rem;
    border: 0.5px solid #e5e7eb;
  }
  
  .rounded {
    border-radius: 1.2rem;
    margin-left: auto;
  }