@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$theme-colors: (
  'primary': #800020,
  // 'secondary': #833bec,
  // 'success': #1ce1ac,
  // 'info': #ff7d50,
  // 'warning': #ffbe0b,
  // 'danger': #ff007f,
  // 'light': #c0ccda,
  // 'dark': #001738,,,,,
);

@import '/node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.hover {
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.8;
  }
}

.link {
  cursor: pointer;
}

.color-white {
  color: var(--white);
}
.color-black {
  color: var(--black);
}
.color-safety-blue {
  color: var(--safety-blue);
}
.color-primary {
  color: var(--primary);
}
.color-secondary {
  color: var(--secondary);
}
.color-gray-400 {
  color: var(--gray-400);
}
.color-gray-500 {
  color: var(--gray-500);
}
.color-gray-600 {
  color: var(--gray-600);
}
.color-gray-700 {
  color: var(--gray-700);
}
.color-gray-900 {
  color: var(--gray-900);
}
.error {
  color: var(--error);
}
.color-chip-accent{
  color:#EAF3F6;
}

// Background
.bg,
.bg-white {
  background: var(--white);
}
.bg-black {
  background: var(--black);
}
.bg-primary-bg {
  background: var(--primary);
}
.bg-yellow {
  background: #ffd701;
}
.bg-yellow-2 {
  background: var(--yellow);
}
.bg-chipAccent {
  background: #eaf3f6;
}
.bg-gray-100 {
  background: var(--gray-100);
}
.bg-gray-200 {
  background: var(--gray-200);
}
.bg-gray-400 {
  background: var(--gray-400);
}
.bg-error {
  background: var(--error);
}
.bg-safety-blue {
  background: var(--safety-blue);
}
.bg-lime-yellow {
  background: #fdfd99;
}

//Font-size
.text-05 {
  font-size: 0.5rem;
}
.text-06 {
  font-size: 0.6rem;
}
.text-07 {
  font-size: 0.7rem;
}
.text-08 {
  font-size: 0.8rem;
}
.text-09 {
  font-size: 0.9rem;
}

.text-1 {
  font-size: 1rem;
}
.text-11 {
  font-size: 1.1rem;
}
.text-12 {
  font-size: 1.2rem;
}
.text-13 {
  font-size: 1.3rem;
}
.text-14 {
  font-size: 1.4rem;
}
.text-15 {
  font-size: 1.5rem;
}
.text-16 {
  font-size: 1.6rem;
}
.text-17 {
  font-size: 1.7rem;
}

.text-2 {
  font-size: 2rem;
}
.text-21 {
  font-size: 2.1rem;
}
.text-22 {
  font-size: 2.2rem;
}
.text-3 {
  font-size: 3rem;
}
.text-4 {
  font-size: 4rem;
}
.text-5 {
  font-size: 5rem;
}
.text-6 {
  font-size: 6rem;
}
.text-7 {
  font-size: 7rem;
}

// Font weight
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}

//Width
.w-05 {
  width: 5% !important;
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-50 {
  width: 50% !important;
}
.w-55 {
  width: 55% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.w-95 {
  width: 95% !important;
}
.w-100 {
  width: 100% !important;
}

.h-90 {
  height: 90vh !important;
}
.mh-90 {
  min-height: 90vh !important;
}

// Image resize
.fill {
  object-fit: fill;
}
.contain {
  object-fit: contain;
}
.cover {
  object-fit: cover;
}
.scale-down {
  object-fit: scale-down;
}
.no-visibility{
  visibility: hidden;
}
