.dangerbody {
  background: rgba(255, 0, 0, 0.09);
  height: 3rem;
}
.infobody {
  background: rgba(210, 225, 34, 0.09);
  height: 3rem;
}
.side {
  height: 100%;
  width: 5px;
  background: rgba(255, 0, 0, 1);
}
.farright {
  margin-left: auto;
  margin-right: 1rem;
}
